/* ==========Чем мы занимаемся index.html========== */
.main-flex-basis {
	flex-basis: calc((100% - 60px) / 3);
}

.section.main-we-doing {
	padding-top: 0;
}

.list.marging-bottom {
	margin-bottom: 50px;
}

.main-flex-basis {
	position: relative;
	justify-content: center;
}

.label {
	color: var(--my-white);
	background: rgba(47, 48, 58, 0.8);

	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}
